@font-face {
    font-family: LibreBarcode39-Regular;
    src: url(../css/fonts/LibreBarcode39-Regular.ttf)
}
@font-face {
    font-family: ZCOOLXiaoWei-Regular;
    src: url(../css/fonts/ZCOOLXiaoWei-Regular.ttf)
}